body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  justify-items: center;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
/* Ingridience */
.ingridiens {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.ingredients-title {
  width: 240px;
}
.ingridiens-block {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.ingridiens-block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.ingredients-list-order {
  border-radius: 15px;
}
.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.ingredients-list > .ingredients-list-order:nth-child(1) {
  background-color: #fd9222;
}
.ingredients-list > .ingredients-list-order:nth-child(2) {
  background-color: #fff;
  border: 1px solid #fd9222;
}
.ingredients-list > .ingredients-list-order:nth-child(3) {
  background-color: #1e1823;
}
.ingredients-list > .ingredients-list-order:nth-child(4) {
  background-color: #fff;
  border: 1px solid #fd9222;
}
.list-order-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 28px 55px 28px 28px;
}
.ingredients-list-order:nth-child(1)
  > .list-order-block
  > .ingridiens-list-text {
  color: #fff;
}
.ingredients-list-order:nth-child(3)
  > .list-order-block
  > .ingridiens-list-text {
  color: #fff;
}
.ingredients-image {
  width: 224px;
  max-height: 171px;
  margin-left: 28px;
}
.ingridiens-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* How it's made */

.made {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.made-main-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.container-title-color {
  color: #fd9222;
}
.made-block {
  display: flex;
  flex-direction: column;
  padding: 20px 4px;
  background-color: #fff;
  border-radius: 15px;
  gap: 20px;
  max-width: 335px;
}
.made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.made-list-li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
/* rewiew */
.rewiew {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rewiew-main {
  padding-bottom: 74px;
}
.rewiew-order {
  padding-bottom: 32px;
}
.rewiew-order-list:nth-child(2) {
  display: none;
}
.rewiew-order-list:nth-child(3) {
  display: none;
}
.rewiew-order-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 42px;
}
.rewiew-image {
  margin-top: -40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 8px;
}
.rewiew-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.rewiew-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.rewiew-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 27px;
  width: 162px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
}
.rewiew-btn:hover {
  background: #fd9222;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .ingridiens {
    padding-left: 32px;
    padding-right: 32px;
    gap: 50px;
  }
  .ingridiens-block {
    max-width: 486px;
    gap: 28px;
  }
  .ingredients-title {
    width: 411px;
  }
  .ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .made {
    gap: 50px;
    padding-left: 77px;
    padding-right: 77px;
  }
  .container-title {
    font-size: 24px;
    line-height: 1.16667;
  }
  .made-block {
    padding: 32px;
    max-width: 614px;
    gap: 28px;
  }
  .img-made {
    border-radius: 15px;
  }
  .made-title {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .ingredients-list {
    gap: 17px;
  }
  .ingredients-image {
    margin-left: 0;
  }
  .list-order-block {
    padding: 28px 36px 28px 28px;
  }
  .ingredients-image {
    width: 206px;
  }
  .made {
    padding-left: 32px;
    padding-right: 32px;
  }
  .made-main-block {
    flex-direction: row;
  }
  .made-block {
    max-width: 516px;
  }
  .made-list {
    gap: 28px;
  }
}
